.create_btn {
  float: left;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  border: none;
  background-color: #4a4453;
  color: #ffffff;
  cursor: pointer;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
}

@media (max-width: 700px) {
  .create_btn {
    padding: 5px 10px;

    border-radius: 5px;
  }

  .notes {
    gap: 10px;
    width: 300px;
  }
}
